.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.3rem;
}
.detailsContainer svg {
  transition: transform 0.5s ease-in-out;
}
.detailsContainer svg:hover,
:focus {
  transform: scale(1.05);
}
.contactDetails {
  background-color: var(--main-color-medium);
  align-items: center;
  text-align: center;
  justify-content: center;
}
.contactDetails a {
  color: white;
  text-decoration: none;
}
.contactDetails h1,
.address h1 {
  text-align: center;
}
.phoneNumber,
.addressDetails {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: center;
}
.phoneNumber > div:first-child:active,
.addressDetails > div:first-child:active {
  opacity: 0;
}
.address {
  background-color: var(--main-color-dark);
  min-width: 50%;
  align-items: center;
  text-align: center;
}
.address a {
  color: white;
}
