.languageContainer {
  position: sticky;
  left: 0px;
  top: 0px;
  width: 130px;
  height: 45px;
  /* background-color: var(--main-color-darker); */
  background-color: rgba(0, 0, 0, 0.088);

  backdrop-filter: blur(100px);
  border-radius: 0 0 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color-light);
  gap: 0.3rem;
  z-index: 1;
  padding: 0.5rem;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.select select {
  font-size: 0.9rem;
  font-weight: 600;
  transition: background-color 1s ease-in;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px 10px 5px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 12px;
  background: #ffcdb2;
  color: var(--main-color-darker);
  /* rgb(109, 104, 117); */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover
/* .select select:focus  */ {
  color: #ffcdb2;
  background: var(--main-color-medium);
  /* #6d6875; */
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  transition: color 1s ease-in;
  position: absolute;
  top: 14px;
  right: 15px;
  width: 0px;
  height: 0px;
  border: solid #7b7b7b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
  /* border-color: #ffcdb2; */
}
.select select:disabled ~ .select_arrow {
  /* border-top-color: #7b7b7b; */
}

.select select:hover
/* .select select:focus,
.select select:active */ {
  color: #ffcdb2;
  background: #6d6875;
}
