:root {
  font-family: "Noto Sans Hebrew", sans-serif, Arial, Helvetica;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03rem;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --main-color-darker: rgb(109, 104, 117);
  --main-color-dark: rgb(181, 131, 141);
  --main-color-medium: rgb(229, 152, 155);
  --main-color-light: rgb(255, 180, 162);
  --main-color-lighter: rgb(255, 205, 178);
}
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
li {
  list-style-type: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 3rem;
  gap: 3rem;
  width: 100%;
}
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}
.column {
  width: 100%;
  max-width: 50%;
  padding: 1.5rem;
}
.text {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: white;
}
.text h1 {
  font-size: 2rem;
}
.text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.d-flex {
  display: flex;
}
.pageTitle {
  margin: 8dvh auto;
  font-size: 4rem;
  max-width: 38%;
  text-align: center;
  color: white;
  animation: growAndFadeIn 0.7s linear;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, -1px 0px 50px #aba8a8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0.3;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes growAndFadeIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 1300px) {
  .d-flex {
    flex-direction: column;
  }
  .column {
    max-width: 100%;
  }
  .pageTitle {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 95%;
  }
}
